pytest
pytest-asyncio
pytest-forked==1.6.0
setuptools
agentUniverse >= 0.0.19

-e opentelemetry-instrumentation
-e util/opentelemetry-util-genai
-e instrumentation-loongsuite/loongsuite-instrumentation-agentuniverse
