pytest
pytest-asyncio
pytest-forked==1.6.0
setuptools
llama-index-core

-e opentelemetry-instrumentation
-e util/opentelemetry-util-genai
-e instrumentation-loongsuite/loongsuite-instrumentation-llama-index
